<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723059767047-o6jpfnt98mqv8r6mvu8rhfq1j41d08fm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723059767047-o6jpfnt98mqv8r6mvu8rhfq1j41d08fm</string>
	<key>API_KEY</key>
	<string>AIzaSyCh3PqDKPZWdg5INfinl7NQrzQbrKSmMK0</string>
	<key>GCM_SENDER_ID</key>
	<string>723059767047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.rectree</string>
	<key>PROJECT_ID</key>
	<string>bobame-fe94d</string>
	<key>STORAGE_BUCKET</key>
	<string>bobame-fe94d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723059767047:ios:655aea355a601e6fc177a2</string>
	<key>DATABASE_URL</key>
	<string>https://bobame-fe94d.firebaseio.com</string>
</dict>
</plist>